#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: -15px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  height: 100vh;
  width: 100vw;
  /* 화면 높이의 100%, 화면 넓이의 100% */
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 128px;
  animation: hideSplashScreen 0.4s ease-in-out forwards;
  animation-delay: 2s;
}

/* forwards = 마지막 속성 값을 애니메이션이 끝나고도 유지한다 */
/* 하지만 element는 그대로 남아있음 투명할뿐 */
/* 완성상태에 visibility:hidden을 하면 클릭할 수 있으나
!!html은 남아있다!! 뭔가를 숨기거나 html제거하고싶으면
Javascript가 필요. */
